:root {
  --main-green: #546f44;
  --light-green: #698559;
  --main-red: #cb2327;
  --main-black: #1f1e1e;
  --main-light-gray: #f1f4f7;
  --main-mid-gray: #dee1e4;
  --main-dark-gray: rgb(110, 110, 110);
  --box-shadow-color: rgb(235, 235, 235);
  font-family: sans-serif;
  color: var(--main-black);
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  overflow: auto;
  height: 100%;
}

.main-content-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.image-overlay-container {
  width: 100%;
  background-color: none;
  display: flex;
  flex-direction: column;
  margin: 20vh 0 0 0;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 20%);
  width: auto;
  display: flex;
  justify-content: center;
  padding: 0 30px 0 30px;
  filter: blur;
}

.image-overlay h1 {
  color: #fff;
  font-size: 4rem;
}

#sign-up-logo-image {
  width: 8rem;
  margin-right: 15px;
}

.green-filter {
  filter: invert(55%) sepia(14%) saturate(23) hue-rotate(110deg)
    brightness(110%) contrast(86%);
}

.image-container {
  z-index: -1;
  position: fixed;
}

.main-image {
  min-height: auto;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: -200px;
}

.main-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--main-light-gray);
  width: 100%;
  min-height: 750px;
}
.right-title {
  display: none;
  flex-direction: row;
  padding: 30px 30px 0px 30px;
  color: var(--main-black);
}

#sign-up-logo-image-right {
  width: 2rem;
  padding: 0 10px;
}

.top-info-container {
  background-color: var(--main-light-gray);
  width: 100%;
  line-height: 1.3rem;
  padding: 0 0 20px;
}

.top-info {
  padding: 0 30px 0 40px;
  max-width: 30rem;
}

.form-section-container {
  box-shadow: 0px 5px 5px var(--box-shadow-color);
  background-color: #fff;
  z-index: 1;
}

.form-content {
  padding: 30px 30px 30px 40px;
}

.bottom-info-container {
  padding: 30px 30px 0px 40px;
  background-color: var(--main-light-gray);
}

#sign-up-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 5px;
  max-width: 470px;
}

label p {
  color: var(--main-dark-gray);
  font-size: 0.7rem;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

input {
  border-style: solid;
  margin-bottom: 10px;
  margin-right: 20px;
  border-radius: 3px;
  border-color: var(--main-mid-gray);
  border-width: 1px;
  font-size: 0.9rem;
  padding: 5px;
  min-width: 200px;
  color: var(--main-black);
}

input:focus {
  outline-color: var(--main-green) !important;
  box-shadow: 2px 2px 4px var(--box-shadow-color);
}

button {
  border: none;
  border-radius: 7px;
  background-color: var(--main-green);
  padding: 15px;
  width: 180px;
  box-shadow: 2px 2px 4px var(--box-shadow-color);
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  transition: ease 70ms;
}

button:hover {
  background-color: var(--light-green);
  transition: ease 70ms;
}

.bottom-info p {
  margin: 30px 0 30px 0;
}

a {
  text-decoration: none;
  color: var(--main-green);
  font-weight: 600;
  transition: ease 70ms;
}

a:hover {
  color: var(--light-green);
  transition: ease 70ms;
}

h3 {
  font-size: 1.2rem;
}

h2 {
  font-size: 1.4rem;
}

/* media queries */

@media screen and (max-width: 985px) {
  .image-overlay {
    display: none;
  }
  .right-title {
    display: flex;
  }
}

@media screen and (max-width: 680px) {
  .main-right-container {
    width: 100vw;
    align-items: center;
  }
  .top-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .top-info {
    margin-bottom: 20px;
  }
  .form-section-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-info-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .bottom-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-container {
    display: none;
  }
  .image-overlay-container {
    display: none;
  }
}

@media screen and (max-width: 537px) {
  .main-right-container {
    min-height: 1050px;
  }

  #sign-up-form {
    grid-template-columns: 1fr;
    width: 100%;
  }

  input {
    min-width: 70vw;
    height: 20px;
  }
}
